name: Autoupdate
on:
  schedule:
    - cron: "0 1 * * *"
concurrency:
  group: "${{ github.workflow }} @ ${{ github.ref }}"
  cancel-in-progress: false
jobs:
  update:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      updated: ${{ steps.autoupdate.outputs.updated }}
      version: ${{ steps.autoupdate.outputs.version }}
    steps:
      - name: Ð¡heckout repo
        id: checkout_repo
        uses: actions/checkout@v5
        with:
          path: "tmp"
          ref: "main"
      - name: Autoupdate
        id: autoupdate
        uses: siarheidudko/autoupdater@v6
        with:
          author-email: "slavianich@gmail.com"
          author-name: "Siarhei Dudko"
          working-directory: ${{ github.workspace }}/tmp
          ref: ${{ github.repository }}
          branch: "main"
          builds-and-checks: |
            npm run lint
            npm run build
            npm run test
          debug: "true"
          ignore-packages: |
            @types/node
            typescript
